<html>
<title> API Documentation </title>
<body> 

	BaseLink <a href= {{.BaseLink}} > {{.BaseLink}} </a>

	<p> CurrentPath = {{.CurrentPath}}

	<p> MethodType = {{.MethodType}} </p>

	{{ if .RequestHeaders }}
	<p> <H4> Request Headers </H4> </p>
	{{ range $key, $value := .RequestHeaders }}
   		<li><strong>{{ $key }}</strong>: {{ $value }}</li>
	{{ end }}
	{{ end }}

	{{ if .RequestUrlParams }}
	<p> <H4> URL Params </H4> </p>
	{{ range $key, $value := .RequestUrlParams }}
   		<li><strong>{{ $key }}</strong>: {{ $value }}</li>
	{{ end }}
	{{ end }}

 	{{ if .RequestBody }}
	<p> <H4> Request Body </H4> </p>
	<p> {{ .RequestBody }} </p>
	{{ end }}	

	{{ if .ResponseHeaders }}
	<p> <H4> Response Headers </H4> </p>
	{{ range $key, $value := .ResponseHeaders }}
   		<li><strong>{{ $key }}</strong>: {{ $value }}</li>
	{{ end }}
	{{ end }}

	{{ if .ResponseBody }}
	<p> <H4> Response Body </H4> </p>
	<p> {{ .ResponseBody }} </p>
	{{ end }}		

</body>
</html>
